<h2>Menú Api hospitales</h2>

<ul>
    <li>
        <a asp-controller="Hospitales"
            asp-action="Cliente">
            Api Hospitales cliente
        </a>
    </li>
    <li>
        <a asp-controller="Hospitales"
           asp-action="Servidor">
            Api Hospitales Server
        </a>
    </li>
</ul>