@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script>
        $(document).ready(function() {
            $("#botonload").click(function(){
                var url = "https://apipersonaspaco.azurewebsites.net/api/personas";
                $.ajax({
                    url: url,
                    method: "GET",
                    success: function(data){
                        var html = "";
                        $.each(data, function(index, persona){
                            html += "<tr>";
                            html += "<td>" + persona.nombre + "</td>";
                            html += "<td>" + persona.email + "</td>";
                            html += "<td>" + persona.edad + "</td>";
                            html += "</tr>";
                        })
                        $("#tablapersonas tbody").html(html)
                    }
                })
            })
        })
    </script>
}

<div class="text-center">
    <h1 class="display-4">Personas</h1>
    <button id="botonload">
        Load Personas
    </button>
    <table class="table table-bordered" id="tablapersonas">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Edad</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
